body {
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(35, 35, 48) 45%, rgb(0, 0, 0) 100%);
    +
}

header img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

#password {
    background-color: rgb(30, 27, 27);
    margin-top: 10%;
    width: 35%;
}

#login {
    margin-top: 15px;
    width: 50%;
    height: auto;
    margin-left: 25%;
}